footer {
  background: var(--color-bg-section); 
  color: var(--color-text-dark);

  .container {
    .row {
      .col-12 {
        padding:0rem 1rem;
      }
      text-align: start;

      .logo-content {
        text-align: start;

        .footer-image-wrapper {
          overflow: hidden;
          width: 100px;
          aspect-ratio: 16/9;
          margin-bottom: 1rem;

          img {
            width: 100%;
            height: auto;
            scale: 1.5;
            object-fit: cover;
            transition: transform 0.5s ease;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        p {
          font-size: 0.875rem;
          margin-top: 0.5rem;
          color: var(--color-text-medium); 
        }
      }

      h3 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 1rem;
        color: var(--color-text-white);
        background-color: var(--color-primary-hover) !important;
      }

      ul.list-unstyled {
        margin-top: 0.25rem;
        padding-left: 4px;
        list-style: none;

        li {
          margin-bottom: 0.5rem;

          a {
            text-decoration: none;
            color: var(--color-text-medium);
            transition: color 0.3s ease;

            &:hover {
              color: var(--color-primary); /* hover with primary accent */
            }
          }
        }
      }

      .follow-us ul {
        display: flex;
        gap: 1rem;
        justify-content: flex-start;

        li a {
          font-size: 1.25rem;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          color: var(--color-text-medium);

          &:hover {
            color: var(--color-primary);
            transform: scale(1.1);
          }
        }
      }

      .contact-us {
        font-size: 0.875rem;
        line-height: 1.6;
        color: var(--color-text-medium);

        .address,
        .phone,
        .mail {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  hr {
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 2rem 0 1rem 0;
  }

  p.text-muted {
    font-size: 0.75rem;
    margin-bottom: 0;
    color: var(--color-text-medium);
    text-align: start;
  }

  @media (max-width: 768px) {
    .row {
      text-align: start;
    }
  }
}
